body {
  display: contents;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  float: right;
  margin: 15px;
}
.nav-item {
  margin-right: 15px;
}
.nav-item:hover {
  text-decoration: underline;
}
main {
  margin-top: 200px;
  text-align: center;
}
.input-box {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding: 0 50px;
}
.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}
.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}
.button-area {
  padding-top: 18px;
}
.button-area>button {
  all: unset;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}
.button-area>button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border-color: #dadce0;
  color: #202124;
}
.language {
  padding: 0 3px;
  color: #1a0dab;
}
.language:hover {
  text-decoration: underline;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #f2f2f2;
}
.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: (0,0,0,.54);
}
.second-line {
  padding: 15px 30px;
  font-size: 15px;
  color: (0,0,0,.54);
}
.second-line a {
  margin-right: 15px;
}
.second-line a:last-child {
  margin-right: 0;
}
.second-line a:hover {
  color: #b9a0a0;
}
.second-line-second {
  float: right;
}